useDynLib(gfpop, .registration = TRUE)

export(gfpop)
export(Edge, StartEnd, Node, graph)
export(dataGenerator, sdDiff)
export(plot.gfpop)
S3method(plot, gfpop)

export(paperGraph)

importFrom(Rcpp, evalCpp)
importFrom("stats", "rnorm", "rexp", "rpois", "rnbinom", "mad", "sd")
importFrom("graphics", "plot", "segments")


